body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.blog-section {
  margin: 0;
}

.blog-section .blog-section-headline {
  background: #e8500e;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 8px 10px;
  margin: 0;
  color: #f4e932;
}

.blog-section .blog-section-headline a {
  color: #f4e932;
}

.blog-section .blog-section-headline a:hover {
  text-decoration: none;
}

.blog-section .hotnews {
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.blog-section .hotnews li {
  border-bottom: 1px solid #eee;
}

.blog-section .hotnews li:last-child {
  border: none;
}

.blog-section .hotnews li a {
  color: #333;
  padding-left: 10px;
}

.blog-section .hotnews li a:hover {
  color: #e8500e;
}

.blog-section .hotnews-wrapper {
  border: 1px solid #eee;
}

.carousel-item a {
  color: #e8500e;
  font-size: 18px;
}

.carousel-item a:hover {
  text-decoration: none;
}

.carousel-item img {
  width: 100%;
}

.carousel-item .carousel-title {
  margin: 10px 0;
  /*white-space: nowrap;*/
  overflow: hidden;
}

.description {
  text-align: justify;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-wrapper {
  /*background: #fbfbfb;*/
}

.post-description {
  text-align: justify;
  height: 9em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-post-description {
  text-align: justify;
  height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-title {
  margin: 10px 0;
  font-weight: 500;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.1em;
}


/*Carousel Style*/
.kf_agent_slider .item {
    padding: 0px 10px;
}

.kf_agent_slider .owl-wrapper {
    padding-bottom: 10px;
}

.kf_agent_slider .owl-pagination {
    display: none;
}

.kf_agent_slider.owl-theme .owl-controls .owl-buttons div {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 45%;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 0px;
    opacity: 1;
}

    .kf_agent_slider.owl-theme .owl-controls .owl-buttons div:hover {
        color: #fff;
    }

    .kf_agent_slider.owl-theme .owl-controls .owl-buttons div.owl-prev {
        left: -50px;
    }

    .kf_agent_slider.owl-theme .owl-controls .owl-buttons div.owl-next {
        right: -50px;
    }

        .kf_agent_slider.owl-theme .owl-controls .owl-buttons div.owl-prev:before,
        .kf_agent_slider.owl-theme .owl-controls .owl-buttons div.owl-next:before {
            content: "\f177";
            position: absolute;
            font-family: fontawesome;
            color: #e0e0e0;
            top: 9px;
            left: 0px;
            width: 100%;
            height: 100%;
            font-size: 20px;
        }

        .kf_agent_slider.owl-theme .owl-controls .owl-buttons div.owl-next:before {
            content: "\f178";
            left: auto;
            right: 0px;
        }

        /*Carousel Style*/

        #header_1 {
            position: relative;
        }

  .kf_heading_1 {
          background: url(/images/bg_header.png) repeat-x;
    color: #fff;
    padding: 0;
  }

  .kf_heading_1 h3 {
          padding: 15px 10px 10px;
  }

  .kf_heading_1 a {color: #fff;}

  .kf_agent_wrap {
      position: relative;
  }

  .kf_agent_wrap .kf_agent_des {
          position: absolute;
    width: 100%;
    background: rgba(2, 48, 8, 0.56);
    bottom: 0;
    padding: 6px;
    color: #fff;
  }

    .kf_agent_wrap .kf_agent_des a {
         color: #fff;
    }

    .nav_xyz1 {

    }

    @media (min-width: 763px) {
        #header img{
                height: 220px;
                width: 100%;
        }
    }

    .nav_xyz1 {
        background-color: #023008;
    border-color: #022306;
    border-radius: 0;
    }
    
    .nav_xyz1 .navbar-nav > li > a:hover, .nav_xyz1 .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #1e5524;
    border-bottom-color: #bdad70;
}

    .nav_xyz1 .navbar-nav > li > a, .nav_xyz1 .navbar-nav > li > a {
        border-bottom: 2px solid transparent;
        -moz-transition: all ease .5s;
        -o-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        transition: all ease .5s;
        color: #fff;
    }

    html, body {
        min-height: 100%;
        height: 100%;
        position: relative;
    }

    body {
        background: url(/images/0041406.jpg) repeat center; 
    }

    .wrapper_main {
        background: #fff;
    }