@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-9">
        <div id="lienhe">
            <h1>Gia phả họ Dương</h1><br />
            <p>Chịu trách nhiệm nội dung: <strong>Ông Dương Đình Chiến</strong> - <strong>tịch Hội đồng Họ Dương Việt Nam.</strong></p><br />
            <p>Biên tập trang tin điện tử: <strong>Văn phòng Họ Dương Việt Nam.</strong> </p><br />
            <p>
                - Địa chỉ: <strong>Số 22, Lý Thái Tổ, Phường Đại Phúc, TP. Bắc Ninh</strong> <br />
                - Điện thoại: <strong>0241.3856.312</strong> <br />
                - Email: hoduongvn@gmail.com.
            </p> <br />
        </div>       
    </div>
</div>


@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">vnhuybc@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@