@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>

<address>
    Gia phả họ dương<br />
    Chịu trách nhiệm nội dung : Ông Dương Đình Chiến - Chủ tịch Hội đồng Họ Dương Việt Nam<br />
    Biên tập trang tin điện tử: Văn phòng Họ Dương Việt Nam -Địa chỉ: Số 22, Lý Thái Tổ, Phường Đại Phúc, TP. Bắc Ninh - Điện thoại: 0241.3856.312 - Email: hoduongvn@gmail.com

    Vui lòng ghi rõ nguồn Hoduongvietnam.com.vn khi phát hành lại thông tin từ website này
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">vnhuybc@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@