@{
    ViewBag.Title = "Giả phả họ Dương Việt Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="gia_pha_main">
    <!--Our Agent Warp Start-->
    <section class="kf_our_agent_bg box_giapha panel">
        <!--Heading Wrap Start-->
        <div class="kf_heading_1 panel-heading">
            <h3>Gia phả họ dương</h3>
        </div>
        <!--Heading Wrap End-->
        <!--Agent List Wrap Start-->
        <div class="panel-body">
           
            <div id="gia_pha_0">

            </div>

        </div>
        <!--Agent List Wrap End-->
    </section>
    <!--Our Agent Warp End-->
</div>

@section scripts { 

    <script>

        $(document).ready(function () {
            $('#gia_pha_0').map(function () {
                    
            })

        })

        var json_gp = {

        };

    </script>    
    
}