@{
    ViewBag.Title = @ViewBag.danhmuctin;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Tin tức</a></li>
            <li class="active">@ViewBag.danhmuctin</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-8 post-wrapper">

        <div class="blog-section catgory-section col-xs-12">

            <div class="col-xs-12 post-wrapper">
                <div class="blog-carousel category-single-post col-xs-12 noPadding">
                    <div class="row">
                        <div class="carousel-item post-images col-xs-4">
                            <a href="http://hoduongvietnam.com.vn/thu-chuc-mung-nam-moi-cua-chu-tich-hoi-dong-ho-duong-viet-nam-p1601"><img src="http://hoduongvietnam.com.vn/timthumb.php?src=http://hoduongvietnam.com.vn/uploads/images/1484730389.jpg&amp;h=180&amp;w=270&amp;zc=1" alt="Thư chúc mừng năm mới của Chủ tịch Hội đồng Họ Dương Việt Nam" class="img-responsive"></a>
                        </div>
                        <div class="post-description col-xs-8">
                            <a href="http://hoduongvietnam.com.vn/thu-chuc-mung-nam-moi-cua-chu-tich-hoi-dong-ho-duong-viet-nam-p1601"><p class="post-title">Thư chúc mừng năm mới của Chủ tịch Hội đồng Họ Dương Việt Nam</p></a>
                            <div class="col-xs-12 noPadding">
                                Năm 2016, Hội đồng Họ Dương các cấp cùng toàn thể bà con Họ Dương cả nước, bà con Họ Dương ở nước ngoài đã đoàn kết, phát huy sức mạnh tổng hợp, hoàn thành xuất sắc trên các lĩnh vực hoạt động: Xây dựng, kết nối Dòng tộc; hướng về cội nguồn, tri ân Tổ Tiên, đền ơn đáp nghĩa; khuyến học – khuyến tài; tương thân – tương ái; thông tin tuyên truyền; phát triển kinh tế và cùng xã hội chăm lo sự nghiệp xây dựng, bảo vệ Tổ quốc.
                            </div>
                        </div>
                    </div>
                </div><!-- /.category-single-post -->
            </div>
            <div class="category-pagination col-xs-12 noPadding">

            </div>
        </div>

    </div>
    <div class="col-md-4">
        Tìm kiếm
    </div>
</div>

